In [2]:
num1=100
num2=20
num3=50

res=num1>num2 and num1>num3

print(res)

True

In [3]:
num=10

res=num>10 and num<15

print(res)

False

In [4]:
print(True and False)

False

In [6]:
num=13
res=num>10 and num%3==0
print(res)

False

In [8]:
num=29
res=( num>=25 and num<=30) and num%4==0
print(res)

False

In [10]:
num=20
res=num%3==0 and num%5==0
print(res)

False

In [12]:
num=49
lastDigit=num%10
res=lastDigit%3==0
print(res)

True

In [13]:
num=1236
lastDigit=num%10
res=lastDigit>10 and lastDigit<15
print(res)

False

In [14]:
num=48
lastDigit=num%10
res=num<50 and lastDigit%4==0
print(res)

True

In [17]:
num=6
res=20%num==0
print(res)

False

In [19]:
num=7
res=12%num==0 and 24%num==0
print(res)

False

In [20]:
ch='a'
res=ch>='a' and ch<='z'
print(res)

True

In [21]:
ch='7'
res=ch>='0' and ch<='9'
print(res)

True

In [22]:
ch='A'
res=ord(ch)%2==0
print(res)

False

In [23]:
ch='Z'
res=ch>='A' and ch<='Z' and ord(ch)>75
print(res)

True

In [24]:
st="gadag"
res=st[0]==st[-1]
print(res)

True

In [25]:
st="jaya"
res=len(st)%4==0
print(res)

True

In [1]:
print(False or True)

True

In [3]:
num=12
res=(num%3==0 or num%4==0)
print(res)

True

In [6]:
num=150
res=num<25 or num>50
print(res)

True

In [8]:
num=10
res=num%3==0 or num>25
print(res)

False

In [12]:
num=17
res=num%3==0 or num%4==0
print(res)

False

In [15]:
num=18
lastDigit=num%10
res=lastDigit<4 or lastDigit>7
print(res)

True

In [17]:
ch='1'
res= (ch>='A' and ch<='Z') or (ch>='a' and ch<='z')
print(res)

False

In [19]:
ch='A'

res=(ch>='A' and ch<='Z') or (ch>='a' and ch<='z') or (ch>='0' and ch<='9')

print(res)

True

In [23]:
st="cingc"
firstChar=st[0]
lastChar=st[-1]

res=firstChar>lastChar or ord(firstChar)%3==0

print(res)

True

In [24]:
print(not(True))

False

In [26]:
num=171
res=not(num>25)
print(res)

False

In [27]:
print(1 in "hero1")

TypeError: 'in <string>' requires string as left operand, not int

In [28]:
print('1' in 'hero1')

True

In [31]:
st="Zack"
char='ak'
print(char in st)

False

In [32]:
st="Zack"
char='ac'
print(char in st)

True

In [37]:

l=[1,2,3,4,6,5]
v1=5
v2=[5]
print(v1 in l)
print(v2 in l)

True
False

The code is checking if the values `v1` and `v2` are present in the list `l`.

In [39]:
set={1.2,3,4,55,6,123}
print(1 in set)

False

In [40]:
d={'car':"volvo",'colour':"black"}

print('car' in d)

True

In [41]:
print( 1 in 10)

TypeError: argument of type 'int' is not iterable

In [43]:
char='f'
vowels="aeiouAEIOU"
print(char in vowels)

False