In [1]:
num1=10
num2=20
res=num1>num2
print(res)

False

In [6]:
num1=156
num2=150
print(num1>num2)

True

In [3]:
num2=10
num3=10
res=num2>num3
print(res)

False

In [5]:
num1=10.5
num2=10
print(num1>num2)

True

In [7]:
n=15
st="15"
print(n>st)

TypeError: '>' not supported between instances of 'int' and 'str'

In [1]:
print(bin(10))

0b1010

bin(Var/Value):
-----------------
it is function used to give binary value for the given integer

In [3]:
print(ord('$'))

36

In [4]:
print(chr(91))

[

ord(char):
-------------
it is the function used to get ascii value of the given character

        Syntax : var=ord(char)

chr(ascii):
----------------
it is the function used to get char of the given ascii value.

        Synatx : var=chr(asciiValue)

In [5]:
st="qsp"
st1="jsp"
print(st>st1)

True

In [6]:
name1="raju"
name2="rani"
print(name1>name2)

False

In [8]:
st="Developer"
st1="d"
print(st>st1)
print(st1>st)

False
True

In [9]:
st="ra"
st1="ramu"
print(st1>st)

True

In [11]:
l1=[1,2,3]
l2=[1,2,3,40]
print(l1>l2)

False

In [12]:
l1=[500]
l2=[40,50,70,180]
print(l1>l2)

True

In [13]:
l1=[1,"raja"]
l2=[1,50]
print(l1>l2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [14]:
l1=[1,"raja"]
l2=[2,200]
print(l1>l2)

False

In [15]:
set1={1,2,3,4}
set2={4,2}
print(set1>set2)

True

In [16]:
set1={1,2,3,4}
set2={4,30}
print(set1>set2)

False

In [19]:
set1={1,2,3,4}
set2={1,2,1,3}
print(set1>set2)

True

Greater than equals(>=):
-------------------------
it is binary operator
it is relational operator

it will give result as true if the given operand1 is either greater than or equal to op2.

    Syntax :
                op1>=op2

In [20]:
a=10
b=20
print(a>=b)

False

In [23]:
a=10.5
b=2
print(a>=b)

True

In [22]:
a=10
b=10
print(a>=b)
print(a>b)

True
False

In [24]:
a=(10+2j)
b=15
print(a>=b)

TypeError: '>=' not supported between instances of 'complex' and 'int'

In [26]:
st="hero"
st1="hero"
print(st>st1)
print(st>=st1)

False
True

In [27]:
s="he"
s1="she"
print(s>=s1)

False

In [28]:
l1=[1,2,3]
l2=[4,50,2]
print(l1>l2)

False

In [29]:
set1={1,2,3}
set2={3,2,1}
print(set1>=set2)

True

In [30]:
s={1:20}
d1={'a':5}
print(s>d1)

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [31]:
n=10
n1=15
print(n==n1)

False

In [32]:
n1=15
n2=15.0
print(n1==n2)

True

In [33]:
n1=10+2j
n2=15
print(n1==n2)

False

In [34]:
print(10=='10')

False

In [35]:
st="raja"
st1="raja"
print(st==st1)

True

In [36]:
print([1,2,3]=="hero")

False

In [37]:
print([1,2,3]==[3,2,1])

False

In [38]:
print({1,2,3}=={3,2,1})

True

In [39]:
print([1,2,3]=={3,2,1})

False

In [41]:
d={1:100}
d1={1:200}
print(d==d1)

False