In [9]:
a=100
print(int(a))
b=float(a)
c=complex(a)
print(b)
print(c)
print(bool(a))
print(bool(0))
print(str(a))
print(str(a)[0])
print(str(a)[1])
print(str(a)[2])
print(list(a))

100
100.0
(100+0j)
True
False
100
1
0
0

TypeError: 'int' object is not iterable

converting float into other data types:
------- ---------------------------

float can be converted into int,complex,bool,str

In [11]:
num=50.3
print(int(num))
print(complex(num))
print(bool(num))
print(str(num))
print(str(num)[2])
print(list(num))

50
(50.3+0j)
True
50.3
.

TypeError: 'float' object is not iterable

converting complex into other data types:
------- ---------------------------

complex can be converted into bool,str

In [17]:
v=1+3j
print(v)
print(bool(v))
print(str(v))
print(str(v)[0])
print(str(v)[1])
print(str(v)[2])
print(str(v)[3])
print(str(v)[4])
print(str(v)[5])

(1+3j)
True
(1+3j)
(
1
+
3
j
)

converting bool into other data types:
----------------------------------------

bool can be converted into int,float,complex,string

In [19]:
flag=True
print(int(flag))
print(float(flag))
print(complex(flag))
print(str(flag))
print(str(flag)[0])
print(str(flag)[1])
print(str(flag)[2])
print(str(flag)[3])
print(list(flag))

1
1.0
(1+0j)
True
T
r
u
e

TypeError: 'bool' object is not iterable

converting string into other data types:
------------------------------

string -> int:
---------------
String can be converted into int only when it contain pure interger values

exa: "123"--> 123,"123a" --> error

String -> float:
----------------

String can be converted into float only when it contain pure interger values and also float values.

ex: "123"--> 123.0 ,"123.6"--> 123.6


String -> complex:
----------------

String can be converted into complex only when it contain pure interger values or float values and complex value.

ex: "123"--> 123+0j ,"123.6"--> 123.6+0j, "12+3j" --> (12+3j)

In [26]:
st="1234"
print(complex(st))

(1234+0j)

In [27]:
st="1a23"
print(complex(st))

ValueError: complex() arg is a malformed string

In [28]:
st1="123.3"
print(complex(st1))

(123.3+0j)

In [29]:
print(complex("12+3j"))

(12+3j)

In [31]:
st="s"
print(bool(st))
s=""
print(bool(s))

True
False

In [35]:
#string --> list
st="ramu"
print(list(st))
print(list(st)[0][0])
print(list(st)[1][0])

['r', 'a', 'm', 'u']
r
a

In [36]:
#string to tuple
st="raju"
print(tuple(st))

('r', 'a', 'j', 'u')

In [37]:
#string to set
st="raaajja"
print(set(st))

{'a', 'r', 'j'}

converting Set into other data types:
----------------------------------------
Set can be converted into str,tuple,list,dict,bool

Set cannnot be converted into int,float,commplex

In [46]:
a={1,2,3,1}
print(str(a))
print(list(a))
print(tuple(a))
print(bool(a))
print(dict(a))

{1, 2, 3}
[1, 2, 3]
(1, 2, 3)
True

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [47]:
l={("name","raju"),("age",21)}

print(dict(l))

{'age': 21, 'name': 'raju'}

In [52]:
d={'name':"kashi",'age':26,'phno':9123123123}

print(str(d))
print(list(d))
print(tuple(d))
print(set(d))

{'name': 'kashi', 'age': 26, 'phno': 9123123123}
['name', 'age', 'phno']
('name', 'age', 'phno')
{'name', 'phno', 'age'}