In [11]:
# converting int into other types:
a=50
print(type(a))
b=float(a)
print(b)
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))
print(str(a)[0])
#print(list(a))
#print(tuple(a))
#print(set(a))
#print(dict(a))

<class 'int'>
50.0
50.0
(50+0j)
True
50
5

TypeError: 'int' object is not iterable

In [17]:
# converting float into other data types
f=10.2
print(int(f))
print(complex(f))
print(bool(f))
print(str(f))
print(str(f)[2])
print(list(f))

10
(10.2+0j)
True
10.2
.

TypeError: 'float' object is not iterable

In [26]:
# converting complex into other data types
c=10+2j

#print(int(c))
#print(float(c))
print(c)
print(bool(c))
print(bool(0j))
print(str(c))
print(str(c)[0])
print(str(c)[-1])
print(list(c))

(10+2j)
True
False
(10+2j)
(
)

TypeError: 'complex' object is not iterable

In [31]:
b=True
print(int(b))
print(float(b))
print(complex(b))
print(str(b))
print(list(b))

1
1.0
(1+0j)
True

TypeError: 'bool' object is not iterable

In [34]:
# converting string into other types:
s="hero"
print(float(s))

ValueError: could not convert string to float: 'hero'

In [33]:
# str --> int only if it contains pure integers
st="123"
print(int(st))

123

In [39]:
# str --> float if it contains integer or flaot value
st1="123.20"
st2="321"
print(float(st1))
print(float(st2))

123.2
321.0

In [40]:
# str --> complex if it contains interger or float or complex value
st1="123.20"
st2="321"
st3="1+2j"
print(complex(st1))
print(complex(st2))
print(complex(st3))

(123.2+0j)
(321+0j)
(1+2j)

In [42]:
st=""
print(bool(st))
st1="rr11"
print(bool(st1))

False
True

In [48]:
st="Raja"
print(list(st))
print(tuple(st))
print(set(st))
print(dict(st))

['R', 'a', 'j', 'a']
('R', 'a', 'j', 'a')
{'a', 'R', 'j'}

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [50]:
l=[1,2,3,]
print(bool(l))

True

In [57]:
a=[1,2,3],[3,2,1]
print(a)

([1, 2, 3], [3, 2, 1])

In [8]:
l=[1,22,3]
print(l)
print(str(l))
print(str(l)[3])
print(str(l)[2])
print(str(l)[0])
print(str(l)[4])

[1, 22, 3]
[1, 22, 3]

,
[
2

In [10]:
l1=[1,2,2,44,5]
print(tuple(l1))
print(tuple(l1)[3])

(1, 2, 2, 44, 5)
44

In [11]:
l1=[1,2,2,1,33,4,55,6]
print(set(l1))

{1, 2, 33, 4, 6, 55}

In [12]:
l1=[1,2,3]
print(dict(l1))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [16]:
l2=[["name","raju"],["age",21],["cars",["Audi","BMW","Porsche"]],[1,100]]
print(dict(l2))

{'name': 'raju', 'age': 21, 'cars': ['Audi', 'BMW', 'Porsche'], 1: 100}

In [17]:
l3=[("name","jack"),["age",33]]
print(dict(l3))

{'name': 'jack', 'age': 33}

In [23]:
t=(100,200,"raja","rani")
print(t)

print(str(t))
print(str(t)[-2])
print(str(t)[-5])
print(str(t)[-1])

(100, 200, 'raja', 'rani')
(100, 200, 'raja', 'rani')
'
a
)

In [24]:
t=(1,2,"python","java")
print(list(t))

[1, 2, 'python', 'java']

In [25]:
t=(1,1,1,1,1,1,2,2,3,3,3,4,4,4,5,5,56,55)
print(set(t))

{1, 2, 3, 4, 5, 55, 56}

In [26]:
t1=(("name","virat"),("lastName","kohli"))
print(dict(t1))

{'name': 'virat', 'lastName': 'kohli'}

In [29]:
t2=([1,2],["car","Audi"],{"raja","rani"})
print(dict(t2))

{1: 2, 'car': 'Audi', 'raja': 'rani'}

In [33]:
set1={1,2,3,3}
print(set1)

print(str(set1))
print(list(set1))
print(tuple(set1))
+

{1, 2, 3}
{1, 2, 3}
[1, 2, 3]
(1, 2, 3)

In [34]:
s={(1,2),(3,4)}
print(dict(s))

{1: 2, 3: 4}

In [38]:
dict={'name':'anil','age':22}
print(str(dict))
print(list(dict))
print(tuple(dict))
print(set(dict))

{'name': 'anil', 'age': 22}
['name', 'age']
('name', 'age')
{'age', 'name'}

In [41]:
st="Python"
print(st.startswith('P'))
print(st.startswith('Py'))
print(st.startswith('Pt'))

True
True
False

In [43]:
st="Python"
print(st.endswith('n'))
print(st.endswith('on'))

True
True

In [48]:
st="hello how are you"
print(st.split())
print(st.split('ow',6))

['hello', 'how', 'are', 'you']
['hello h', ' are you']

In [55]:
st=["hello","hii"]
print(''.join(st))

hellohii

In [56]:
st="hello"
print(st.replace('l','z'))

hezzo

In [57]:
l=[1,2,3,3]
l.append(100)
print(l)

[1, 2, 3, 3, 100]

In [59]:
l=[1,2,3]
l.insert(2,300)
print(l)
l.insert(90,5000)
print(l)

[1, 2, 300, 3]
[1, 2, 300, 3, 5000]

In [61]:
l=[1,2,3,4,4]
print(l.pop())
print(l)

4
[1, 2, 3, 4]

In [64]:
l1=[1,2,3,4]
l1.remove(4)
print(l1)
l1.clear()
print(l1)

[1, 2, 3]
[]

In [66]:
l1=[1,2,2,1,1,1,1,2]
print(l1.count(1))
print(l1.count(100))

5
0

In [70]:
l2=[1,2,3,4,1]
print(l2.index(1))
print(l2.index(1,2))
print(l2.index(100))

0
4

ValueError: 100 is not in list

In [71]:
l3=[1,2,3]
l3.reverse()
print(l3)

[3, 2, 1]

In [73]:
l4=[1,2,55,64,22,1,4,67]
l4.sort()
print(l4)

[1, 1, 2, 4, 22, 55, 64, 67]

In [74]:
set1={1,2,3}
set1.add(100)
print(set1)

{1, 2, 3, 100}

In [78]:
set1={3,4,2,1,1,3,5}
print(set1.pop())
print(set1)
set1.remove(2)
print(set1)
set1.discard(50)

1
{2, 3, 4, 5}
{3, 4, 5}

In [82]:
set1={1,2,3,4,}
set2={3,5,6,7,}
print(set1.intersection(set2))
print(set1)
set1.intersection_update(set2)

print(set1)
set1.clear()
print(set1)

{3}
{1, 2, 3, 4}
{3}
set()

In [86]:
set1={1,2,3,3}
set2={4,5,6,7,8}

print(set1.union(set2))
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [89]:
set1={1,2,3,4,5}
set2={4,5,6,7}
set1.difference_update(set2)
print(set1)

{1, 2, 3}

In [90]:
d={'name':'virat','age':21}
print(d['name'])
print(d.get('name'))

virat
virat

In [92]:
d={'name':'virat','age':21}
d.pop('name')
print(d)

{'age': 21}

In [93]:
d={'name':'virat','age':21}
d.popitem()
print(d)

{'name': 'virat'}

In [95]:
d1={'name':'virat'}
d2={'age':22}
d1.update(d2)
print(d1)
d1.clear()
print(d1)

{'name': 'virat', 'age': 22}
{}

In [97]:
d={'name':'virat','age':21}
print(d.keys())
print(d.values())

dict_keys(['name', 'age'])
dict_values(['virat', 21])

In [98]:
st="raja"
l=[i for i in st]
print(l)

['r', 'a', 'j', 'a']

In [99]:
st="1 2 3"
l=[int(i) for i in st.split()]
print(l)

[1, 2, 3]